.sectionTwo {
    width: 100%;
    padding: 30px;
}

.containerAcademicEducation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px;
}

.education {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border-radius: 40px;
    padding: 50px;
    background-color: white;
    border: 1px solid rgba(71, 70, 70, 0.144);
}

.educationInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.educationInfo h5 {
    font-family: 'MontHeavyDEMO';
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.itemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation: itemAnimation 1s ease-in-out 1s 1 normal forwards;
}

.item {
    width: 200px;
    height: 200px;
    margin: 13px;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 9px 6px 24px 1px rgba(20, 20, 20, 0.103);
}

.items h3 {
    font-family: 'MontHeavyDEMO';
    color: #3b3a3a;
    text-align: center;
}

.item p {
    text-align: center;
}

.item:hover {
    transform: scale(1.07);
}

.itemExpand {
    width: 100%;
    text-align: end;
    margin: 0;
    cursor: pointer;
}

.containerOtherSkills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 15px;
}

.otherSkill {
    width: 340px;
    height: 250px;
    border-radius: 40px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    box-shadow: 9px 6px 24px 1px rgba(20, 20, 20, 0.103);
}

.otherSkill img {
    width: 40px;
}

.otherSkill p {
    font-size: 0.95rem;
}

.otherSkill h3 {
    text-align: start;
}

.buttonExpand {
    text-align: end;
    width: 100%;
    cursor: pointer;
}

.bodySelectedSkill {
    position: fixed;
    width: 100%;
    height: 40%;
    top: 50px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: #3b3a3a34;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

}

.containerSelectedSkill {
    position: fixed;
    width: 50%;
    background-color: white;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 9px 6px 24px 1px rgba(20, 20, 20, 0.199);
    display: flex;
    flex-direction: column;
    gap: 30px;
    animation: selectedSkillItem 1s ease-in-out 0ms 1 normal forwards;
}

.buttonSkill {
    display: flex;
    justify-content: flex-end;
}

.buttonSkill button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #74f37aa2;
    border: none;
    cursor: pointer;
}

.buttonSkill button:hover {
    transform: scale(1.07);

}

.iconSkill {
    display: flex;
    justify-content: center;
}

.iconSkill svg {
    display: flex;
    justify-content: center;
    font-size: 180px;
}

.infoSkill {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoSkill h3 {
    text-align: start;
    font-size: 2rem;
}

@media screen and (max-width:600px) {
    .sectionTwo {
        padding: 5px;
    }

    .education {
        width: 100%;
        padding: 40px;
    }

    .item {
        margin: 10px;
    }

    .containerSelectedSkill {
        width: 80%;
    }

    .otherSkill {
        width: 90%;
    }
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes selectedSkillItem {
	0% {
		transform: scale(0);
		transform-origin: 50% 100%;
	}

	100% {
		transform: scale(1);
		transform-origin: 50% 100%;
	}
}

.fadeIn {
    animation: fadeInAnimation 2s ease;
}