@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

.navContainer {
    position: relative;
    width: 95%;
    height: 100px;
    padding: 60px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    animation: navAnimation 4s ease 0s 1 normal forwards;
    z-index: 999;
}

.dropdown {
    display: none;
}

.links {
    display: flex;
    gap: 50px;
    align-items: center;
}

.links ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.links li {
    cursor: pointer;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 1.20vw;
    font-family: 'Work Sans';
}

.links button {
    width: 170px;
    height: 50px;
    border-radius: 30px;
    border: 1.7px solid #adfd96;
    background-color: #acfd961e;
    color: white;
    font-size: 1em;
    font-family: 'Work Sans';
}

@media (min-width: 100px) and (max-width: 1000px) {
    .links {
        display: none;
    }

    .dropdown {
        display: block;
        position: relative;
        display: inline-block;
    }

    .dropdownToggle {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 40px;
        display: flex;
        color: #c7c7c7;
    }

    .dropdownMenu {
        position: absolute;
        top: 100%;
        right: 0;
        min-width: 220px;
        background-color: transparent;
    }

    .menuList {
        list-style-type: none;
        padding: 10px;
        text-align: right;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 10px;
        background-color: #313131;
        animation: customDropdown 1s ease 0s 1 normal forwards;
    }

    .menuList a {
        text-decoration: none;
        color: white;
        font-size: 1.0em;
    }

    .menuList ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    .menuList li {
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    .menuList li:hover {
        background-color: #acfd9683;
    }

    .menuList li:last-child {
        border-bottom: none;
    }

    body::before {
        width: 100%;
    }

    .dropdownMenu button {
        width: 130px;
        height: 40px;
        border-radius: 30px;
        border: 1.7px solid #adfd96;
        background-color: #acfd961e;
        color: white;
        font-size: 1em;    
    }

    @media screen and (max-width:500px) {
        .navContainer {
            width: 100%;
            padding: 15px;
        }
    }

}

@keyframes customDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes navAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}