@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: url(assets/backgroung-main.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.backgroundSections {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.section1 {
  padding: 180px 20px 20px 20px;

}


footer {
  width: 100%;
  margin: auto;
  background-color: #2c2a2b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
}

p, a {
  font-family: 'Manrope', sans-serif;
}




@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeIn {
  animation: fadeInAnimation 2s ease;
}
